(
  assets:
   [ 
    ("Direct", File ( path: "blueprints/Direct.glb" )),
    ("Material.003", File ( path: "materials/Material.003.glb" )),
    ("With Empty", File ( path: "blueprints/With Empty.glb" )),
    ("Wireframes", File ( path: "blueprints/Wireframes.glb" )),
    ("Material.002", File ( path: "materials/Material.002.glb" )),
    ("static", File ( path: "blueprints/static.glb" )),
    ("Material.001", File ( path: "materials/Material.001.glb" )),
   ]
)